/* Add additional stylesheets below
-------------------------------------------------- */

#chart .c3-line-data2 {
  stroke-width: 3px;
}

.c3 .c3-axis path, .c3 .c3-axis line {
  color: red;
}

.panel-chart {
	padding: 10px;
	display: none;
}

.dest {
	width: 30%;
	margin-right: 10px;
}

