/* Add additional stylesheets below
-------------------------------------------------- */
img {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#chart .c3-line-data2 {
	stroke-width: 3px;
}

.c3 .c3-axis path, .c3 .c3-axis line {
	color: red;
}

.panel-chart {
	display: none;
}

.panel-chart-content {
	padding: 10px;
}

.dest {
	width: 30%;
	margin-right: 10px;
}