<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "GrabFlight">    


<!-- <h1><i class="fa fa-plane" aria-hidden="true"></i> GrabFlight</h1>
<p>Simple flight ticket price notification</p>
<p><a class="btn btn-primary btn-lg">Coming soon..</a><span class="label label-default">Coming soon..</span></p>
 -->
 
<div id="preload-view" class="text-center">
<h1>${destFrom} <i class="fa fa-arrows-h" aria-hidden="true"></i> ${destTo}</h1>
<p>We're fetching flight schedules</p>
<p><i class="fa fa-circle-o-notch fa-3x fa-spin" aria-hidden="true"></i></p>
<p>Please wait..</p>
</div>

<div id="preload-error" class="text-center" style="display: none;">
<p><i class="fa fa-meh-o fa-5x" aria-hidden="true"></i></p>
<h3>Oops, something went wrong!</h3>
<h3>We're sorry. Please refresh the page</h3>
</div>

<div id="chart-depart"></div>

<div id="chart-return"></div>

<script type="text/javascript">
var gFlight  	= '${flight}';
var gDestFrom 	= '${destFrom}';
var gDestTo 	= '${destTo}';
var gDateFrom 	= '${dateFrom}';
var gDateTo 	= '${dateTo}';
var getDestinationsByGetUrl = "/api/"+ gDestFrom +"/"+ gDestTo +"/"+ gDateFrom +"/"+ gDateTo +"/"+ gFlight +".json";
</script>

</@layout.myLayout>