<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "GrabFlight">    


<!-- <h1><i class="fa fa-plane" aria-hidden="true"></i> GrabFlight</h1>
<p>Simple flight ticket price notification</p>
<p><a class="btn btn-primary btn-lg">Coming soon..</a><span class="label label-default">Coming soon..</span></p>
 -->
<div id="chart-depart"></div>

<div id="chart-return"></div>

<script type="text/javascript">
var gYear = '${year}';
var gMonth = '${month}';
var gDestFrom = '${destFrom}';
var gDestTo = '${destTo}';
var getDestinationsByGetUrl = "/"+ gDestFrom +"/"+ gDestTo +"/"+ gYear +"-"+ gMonth +"-01/"+ gYear +"-"+ gMonth +"-31/airasia.json";
</script>

</@layout.myLayout>